@namespace url(http://www.w3.org/2000/svg);
@namespace xml url(http://www.w3.org/XML/1998/namespace);

.close-icon {
    fill: black;
    stroke: black;
}

.close-icon:hover {
    fill: blue;
    stroke: blue;
    cursor: pointer;
}

#svgObject:hover svg.close-icon,
#svgObject:hover .close-icon {
    fill: orange;
}